:host {
    display: block;
}

.btn {
    padding: 0.25rem 0.5rem;
    border-radius: 0.375rem;
}

.btn-outline {
    border: 1px solid var(--tw-border-opacity);
}

.w-9 {
    width: 2.25rem;
}

.h-8 {
    height: 2rem;
}
