<div class="space-y-6">
	<div class="flex items-center justify-between">
		<div>
			<h1 class="text-3xl font-bold tracking-tight text-balance">Adquisiciones</h1>
			<p class="text-muted-foreground">Gestiona y realiza un seguimiento de todas las adquisiciones, ya sean
				bienes o
				servicios</p>
		</div>
		<div class="header-actions">
			<div>
				<a class="btn">Crear adquisición</a>
			</div>
		</div>
	</div>

	<!-- Filtros -->
	<div class="dropdown dropdown-bottom">
		<div tabindex="0" role="button" class="btn m-1">Filtros</div>
		<div tabindex="-1" class="dropdown-content menu rounded-box z-1 w-lg p-2 shadow-sm">
			<app-filters (filterChange)="handleFilterChange($event)"></app-filters>
		</div>
	</div>

	<!-- templates for table cells -->
	<ng-template #statusTpl let-item>
		<app-status-badge [status]="item.isActive"></app-status-badge>
	</ng-template>

	<ng-template #actionsTpl let-item>
		<div class="flex items-center gap-2">
			<a class="btn-ghost h-8 w-8" [routerLink]="['/details', item.id]" title="Details">🔍</a>
			<a class="btn-ghost h-8 w-8" title="Edit">✏️</a>
			<button type="button" class="btn-ghost h-8 w-8 text-destructive">🚫</button>
		</div>
	</ng-template>

	<app-table [data]="pagedData" [columns]="columns" [sortColumn]="sortColumn" [sortDirection]="sortDirection"
		(onSort)="handleSort($event)">
	</app-table>

	<app-pagination [currentPage]="currentPage" [totalPages]="totalPages" [pageSize]="pageSize"
		[totalItems]="totalItems" (pageChange)="changePage($event)" (pageSizeChange)="changePageSize($event)">
	</app-pagination>
</div>